#version=RHEL8
# Use graphical install
graphical

repo --name="Minimal" --baseurl=file:///run/install/sources/mount-0000-cdrom/Minimal

%packages
@^server-product-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us','ru'
# System language
lang en_US.UTF-8 --addsupport=ru_RU.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone Europe/Kaliningrad --isUtc --nontp

# Root password
rootpw --iscrypted $6$KhSpjRrqzuxIucf5$VRdxBVXw9y7Xd2VEHdiRyXdE9YmpWzMNDXaoaX7jAUpiy4/dWYJ/PUvvAzPKqFq1GlbsdK7v32g7HGtgiW0cb/
user --name=vik --password=$6$ZNd.Z.6x8tiPYgDo$gsvRXkWbMcsC1cJpkO965dBBFJIfpS9s2LgG0HcbYQrvLboDdxCH8gqAzIE0wlGG/tV8xofnB4sEETufi7Ame1 --iscrypted --gecos="vik"

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
